html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	direction: rtl;
	background: url('../public/image/background.PNG');
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: lightsans;
    src: url('../public/fonts/IRANSansXLight.ttf');
}

@font-face {
    font-family: sans;
    src: url('../public/fonts/IRANSansXMedium.ttf');
}

@font-face {
    font-family: boldsans;
    src: url('../public/fonts/IRANSansXBold.ttf');
}

@font-face {
    font-family: thinsans;
    src: url('../public/fonts/IRANSansXThin.ttf');
}

.lightsans{
	font-family: lightsans;
}

.sans{
	font-family: sans;
}

.boldsans{
	font-family: boldsans;
}

.thinsans{
	font-family: thinsans;
}

.ltr{
	direction: ltr;
}